<!-- Team Section -->
    <section id="overview" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Overview</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="col-md-5">
                <!-- <img src="img/map.jpg" alt="" style="height: 250px"> -->
                <iframe width="444" height="250" src="https://www.youtube.com/embed/6pElF4zELhw?controls=0&autoplay=1&loop=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-md-6" style="padding-top: 50px;">
                <p>BusFind Porto is a real time tracking system that allows our users to get several information about the circulating buses.</p>
                <p>
                    Our system uses GPS trackers built in the buses to provide information about their current position, path they have been doing and predict the traffic situation in a given location based on speed of each bus.</p>
            
            </div>
            <div class="row">
                </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                   <!--  <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p> -->
                </div>
            </div>
        </div>
    </section>