<!-- Features Section -->
    <section id="scenarios" style="padding-bottom: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Tests</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-map-marked-alt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading" style="margin-bottom: 35px;">Scenario 1: Get bus location</h4>
                    <p class="text-muted text-left">Given the bus ID <br> When I want to know where the bus is <br> Then the bus appears on the map </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-map-marked-alt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading" style="margin-bottom: 35px;">Scenario 2: Observe bus routes</h4>
                    <p class="text-muted text-left">Given the bus ID <br> When I want to check the path of that bus <br> Then the path of that bus appears on the map </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-map-marked-alt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Scenario 3: Check bus average speed</h4>
                    <p class="text-muted text-left">Given the bus ID <br> When information about traffic is needed <br> Then the average speed is calculated </p>
                </div>
            </div>
        </div>
    </section>